[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
shapely = "*"
appdirs = "*"
python-dotenv = "*"
xarray = "*"

[dev-packages]
pytest = "*"
twine = "*"
pre-commit = "*"
pyflakes = "*"
pycodestyle = "*"
flake8-docstrings = "*"
flake8-bandit = "*"
flake8-comprehensions = "*"

[requires]
python_version = "3.8"
